SPRING_PROFILES_ACTIVE=local
DB_URL=jdbc:postgresql://127.0.0.1:5432/smartlab_db
DB_USERNAME=smartlab_user
DB_PASSWORD=1234
SMARTLAB_JWT_SECRET_BASE64=c21hcnRsYWItbG9jYWwtZGV2ZWxvcG1lbnQtc2VjcmV0LTMyLWJ5dGVzISE=
